nav {
    background-color: #F9F9F9;
}

.dropbtn {
    font-family: $lato;
    background-color: #F9F9F9;
    font-size: 12px;
    border: none;
}

.dropbtn:hover {
    cursor: pointer;
}

.dropdown {
    float: left;
    padding: 16px 16px 16px 16px;
    color: dimgray;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(29, 205, 202);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #F9F9F9;
}

.dropdown-item:active {
    background-color: rgb(29, 205, 202);
}

#mainlist li {
    padding: 28px 20px;
}

#topleftnav li {
    font-size: 11px;
    color: #777777;
    display: inline-block;
    margin-right: 25px;
    padding: 5px 0;
}

#topright ul li a i {
    color: #777777;
}

#shout {
    background-color: #1B2228;
    color: white;
    text-align: center;
    padding: 50px 93px;
}

#shout p {
    font-size: 20px;
    font-weight: 300;
    line-height: 34px;
    color: #aaa;
    margin: 0;
}

#supercoding p a h3 {
    color: #666666;
    text-decoration: none;
}

#supercoding i {
    background: none;
    font-size: 40px;
    line-height: 84px;
    color: #1ccdca;
    position: relative;
    border: 1px solid #1ccdca;
    border-radius: 50%;
    width: 84px;
    height: 84px;
    text-align: center;
}